@tailwind base;
@tailwind components;
@tailwind utilities;


.no-scrollbar::-webkit-scrollbar {
  display: none; 
}
.no-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}


.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f0f0f0;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

.custom-scrollbar {
  scrollbar-width: thin;
}

.settings-container {
  display: none;
}
.content{
  width: 100%;
}

@media (min-width: 1640px) {
  .content{
    width: 80%;
  }
  .settings-container {
    display: block;
    margin: 0px 10px;

   
  }
  .setting-btn{
    display: none;
  }
}

@media (min-width: 1400px) {
  .category-card{
    height: 850px;
  }
  .dua-card{
    height: 850px;
  }
  .setting-card{
    height: 850px;
  }
}
@media (min-width: 1280px) and (max-width: 1400px) {
  .category-card{
    height: 520px;
  }
  .dua-card{
    height: 520px;
  }
}
@media (min-width: 1140px) and (max-width: 1279px) {
  .category-card{
    height: 730px;
  }
  .dua-card{
    height: 730px;
  }
}
@media (max-width: 1139px) {
  .categories-main{
   display: none !important ;
  }
 
  
}
@media (min-width: 1139px) {
  .categories{
   display: none;
  }
}

@media (max-width: 1279px) {
  .sidebar{
   display: none;
  }
  .header-title{
    display: none;
  }
  .bottom-sidebar{
    display: block;
  }
  .header{
    background-color: white;
    margin-bottom: 30px;
  }
 
  
}
@media (min-width: 1280px) {
  .main-content{
    margin-left: 8rem;
  }
  .bottom-sidebar{
    display: none;
  }
  .header-img{
    display: none;
  }
}


.main {
  display: block;
  width: auto;
}

.category-card, .dua-card {
  margin-bottom: 20px; 

}


@media (min-width: 1140px) {
  .main {
    display: flex;
    flex-direction: row;  
    gap: 24px;  
  }
  
 

  .dua-card {
    flex-grow: 1; 
  }

}


input[type="range"] {
  width: 120px;
  -webkit-appearance: none;
  appearance: none;
  background: #d3d3d3;
  border-radius: 5px;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 5px;
  background: #31ab69;
  border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #31ab69;
  border: none;
  cursor: pointer;
}

input[type="range"]::-moz-range-track {
  height: 8px;
  background: #31ab69;
  border-radius: 5px;
}

input[type="range"]::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #31ab69;
  border: none;
  cursor: pointer;
}

input[type="range"]::-ms-track {
  height: 8px;
  background: #31ab69;
  border-radius: 5px;
  border-color: transparent;
  border-width: 8px 0;
}

input[type="range"]::-ms-thumb {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #31ab69;
  border: none;
  cursor: pointer;
}

