@tailwind base;
@tailwind components;
@tailwind utilities;

/* For Webkit Browsers (Chrome, Edge, Safari) */
.custom-scrollbar::-webkit-scrollbar {
  width: 10px; /* Width of the vertical scrollbar */
  height: 10px; /* Height of the horizontal scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f0f0f0; /* Background color of the scrollbar track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
 
  border-radius: 5px; /* Rounded edges for the thumb */
}

/* For Firefox */
.custom-scrollbar {
  scrollbar-width: thin; /* Set a thinner scrollbar */
 
}

/* Hide the sidebar by default */
.settings-container {
  display: none;
}

/* Show the settings container for screens with a minimum width of 1640px */
@media (min-width: 1640px) {
  .settings-container {
    display: block;
    position: fixed;
    top: 0; /* Ensures it aligns at the top of the viewport */
    right: 0; /* Sticks to the right */
  }
}

