@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f0f0f0;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

.custom-scrollbar {
  scrollbar-width: thin;
}

.settings-container {
  display: none;
}

@media (min-width: 1640px) {
  .settings-container {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
  }
}

input[type="range"] {
  width: 120px;
  -webkit-appearance: none;
  appearance: none;
  background: #d3d3d3;
  border-radius: 5px;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 5px;
  background: #31ab69;
  border-radius: 5px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #31ab69;
  border: none;
  cursor: pointer;
}

input[type="range"]::-moz-range-track {
  height: 8px;
  background: #31ab69;
  border-radius: 5px;
}

input[type="range"]::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #31ab69;
  border: none;
  cursor: pointer;
}

input[type="range"]::-ms-track {
  height: 8px;
  background: #31ab69;
  border-radius: 5px;
  border-color: transparent;
  border-width: 8px 0;
}

input[type="range"]::-ms-thumb {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #31ab69;
  border: none;
  cursor: pointer;
}
